html,
body {
    min-width: 370px;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
}

/* 媒体查询 */
@media screen and (min-width: 480px) {
    nav {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .header_top {
        display: none !important;
    }
}

/*鼠标悬浮控制元素隐藏与显示 - css中鼠标的hover状态*/
.one:hover .word{
    border-bottom: 2px solid white;
}
.box-father:hover .box{
    display: block;
}
.box-4:hover .character-2{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.box-4:hover .character-3{
    border-bottom: 1px solid rgb(255, 255, 255);
}


/* 头部 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.top {
    height: 40px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}

.left {
    color: rgb(41, 176, 120);
    font-size: 8px;
    font-weight: bold;
}

.right {
    margin-top: 5px;
}

span {
    background-image: url(../second/image-1.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(41, 176, 120);
    display: inline-block;
    margin-right: 3px;
}

.icon_1 {
    float: right;
    background-position: -15px -178px;
    margin-right: -7px;

}

.icon_2 {
    float: right;
    background-position: -15px -70px;
    margin-right: -8px;
}

.icon_3 {
    float: right;
    background-position: -15px -124px;
    margin-right: -7px;
}

.navbar {
    background-color: rgb(41, 176, 120);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-item {
    text-align: center;
}
.navbar-toggler {
    padding: .10rem .38rem; 
   
}

.word-1 {
    font-size: 8px;
    margin-bottom: 0;
    color: white;
    text-align: center;
}


.header_top {
    background-color: rgb(41, 176, 120);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.word {
    font-size: 8px;
    display: inline-block;
    color: white;
    padding: 24px 15px;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.one {
    display: inline-block;

}


/* 中间*/
main{
    margin-top: 110px
}

.main-top{
    padding: 20px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.word-4{
    font-size: 15px;
    display: inline-block;
}

.word-5{
    font-size: 15px;
    color: rgb(41, 176, 120);
    display: inline-block;
}
.main-center{
    padding: 14px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
.word-6{
    font-size: 13px;
    color: rgb(153, 153, 153);
    display: inline-block;
    margin-right: 18px;
}
.word-7{
    font-size: 13px;
    color: white;
    background-color: rgb(41, 176, 120);
    display: inline-block;
    margin-right: 18px;
}
.word-8{
    font-size: 13px;
    display: inline-block;
    margin-right: 18px;
}

.word-9{
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}
.both{
    margin-top: 50px;
    position: relative;
    
}

.letter-1{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-left: 13px;


}
.letter-2{
    float: right;
    font-size: 8px;
    width: 65%;
    padding: 11px 0;
}

.picture-1{
    float: left;

}
.letter-3{
    display: inline-block;
    font-size: 8px;
    color: rgb(153, 153, 153);
}
.letter-4{
    display: inline-block;
    font-size: 8px;
    color: red;
}
.letter-5{
    font-size: 8px;
    display: inline-block;
}

.letter-6{
    font-size: 8px;
    color: rgb(153, 153, 153);
    text-align: center;
    line-height: 99px;
    
}

.letter-7{
    font-size: 8px;
    font-weight: bold;
    float: left;
   
}

.letter-8{
    font-size: 8px;
    float: right;
    font-weight: bold;
}

.letter-9{
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}
.letter-10{
    font-size: 13px;
    font-weight: bold;
    color: red;
    display: inline-block;
}

.box{
    position: absolute;
    top: 1px;
    width: 92%;
    background-color: rgba(0, 0 ,0, 0.7);
    color: white;
    display: none;

}
.letter-11{
    text-align: center;
    margin: 70px 0 33px;
}
.letter-12{
    margin: 0 39px 73px;
}


.color {
    width: 100%;
    height: 122px;
}

/*底部*/
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 176, 120);
    z-index: 10;
}
.box-4{
    display: inline-block;
}
.character{
    margin: 20px ;
}

.character-father{
    text-align: center;
    margin: 20px;
}

.character-1{
    font-size: 8px;
    color: white; 
} 

.character-2{
    font-size: 8px;
    color: white;
    margin-top: 34px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.character-2{
    font-size: 8px;
    color: white;
    margin-top: 34px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}



.character-3{
    font-size: 8px;
    color: white;
    margin-right: 10px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.character-4{
    font-size: 8px;
    color: white; 
    margin-left: 4px;
    margin-bottom: 7px;
} 

.character-5{
    font-size: 8px;
    color: white; 
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

