html,
body {
    min-width: 370px;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
}

/* 媒体查询 */
@media screen and (min-width: 480px) {
    nav {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .header_top {
        display: none !important;
    }
}

/*鼠标悬浮控制元素隐藏与显示 - css中鼠标的hover状态*/
.one:hover .word{
    border-bottom: 2px solid white;
}
.left-bottom:hover .circle-1{
    background-color: rgb(255, 145, 0);
}

.left-bottom:hover .word-7{
    color: rgb(255, 145, 0); 
}




/* 头部 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.top {
    height: 40px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}

.left {
    color: rgb(41, 176, 120);
    font-size: 8px;
    font-weight: bold;
}

.right {
    margin-top: 5px;
}

span {
    background-image: url(../third/image-1.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(41, 176, 120);
    display: inline-block;
    margin-right: 3px;
}

.icon_1 {
    float: right;
    background-position: -15px -178px;
    margin-right: -7px;

}

.icon_2 {
    float: right;
    background-position: -15px -70px;
    margin-right: -8px;
}

.icon_3 {
    float: right;
    background-position: -15px -124px;
    margin-right: -7px;
}



.navbar {
    background-color: rgb(41, 176, 120);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-item {
    text-align: center;
}

.word-1 {
    font-size: 8px;
    margin-bottom: 0;
    color: white;
    text-align: center;
}


.header_top {
    background-color: rgb(41, 176, 120);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.word {
    font-size: 8px;
    display: inline-block;
    color: white;
    padding: 24px 15px;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.one {
    display: inline-block;
}



/*中间*/
main {
    margin-top: 110px;
}

.l {
    border: 1px solid rgba(153, 153, 153, 0.5);
}

.word-4 {
    font-size: 14px;
    display: inline-block;
}

.word-5 {
    font-size: 14px;
    color: rgb(41, 176, 120);
    display: inline-block;
    margin: 20px 0;
}

.left-top {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.left-bottom {
    text-align: center;

}

.word-6 {
    font-size: 14px;
    font-weight: bold;
}

.word-7 {
    font-size: 8px;
    font-weight: bold;
    color: rgb(41, 176, 120);
    padding: 12px 0;
    display: inline-block;
    width: 38%;
}

.word-10{
    font-size: 8px;
    font-weight: bold;
    color:  rgb(255, 145, 0);
    padding: 12px 0;
    display: inline-block;
    width: 38%;
}
.circle-father {
    display: inline-block;
}

.circle-1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgb(255, 145, 0);
}
.circle-2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(255, 145, 0);
    border: 1px solid rgb(255, 145, 0);
}


.r {
    border: 1px solid rgba(153, 153, 153, 0.5);
}


.right-top {
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.right-bottom {
    padding-bottom: 163px;
}

.picture {
    font-size: 8px;
    color: rgb(153, 153, 153);
    padding: 20px 50px;
    line-height: 23px;
}

.tu {
    float: left;
    margin-top: -15px;
    margin-right: 16px;

}

.word-9 {
    text-indent: 2em;
    font-size: 8px;
    color: rgb(153, 153, 153);
    margin-top: 21px;
    padding: 0 50px;
    line-height: 23px;
}


.color {
    width: 100%;
    height: 141px;
}

/*底部*/
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 176, 120);
    z-index: 10;
}
.character{
    margin: 20px ;
}

.character-father{
    text-align: center;
    margin: 20px;
}

.character-1{
    font-size: 8px;
    color: white; 
} 

.character-2{
    font-size: 8px;
    color: white;
    margin-top: 34px;
  
}
.character-3{
    font-size: 8px;
    color: white;
    margin-right: 10px;
    display: inline-block;
}

.character-4{
    font-size: 8px;
    color: white; 
    margin-left: 4px;
    margin-bottom: 7px;
} 

.character-5{
    font-size: 8px;
    color: white; 
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
