body {
  min-width: 370px;
  margin: 0;
  background-color: #e7e7e7;
}

p {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  background-color: #29bde0;
}

.head {
  margin-top: 20px;
  margin-left: 11px;
}

.top {
  width: 17px;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
}

main {
  margin-top: 58px;
}

.main-top {
  position: relative;
  height: 61px;
  margin: 14px 18px;
  background-color: white;
  text-align: center;
}

.word-1 {
  display: inline-block;
  font-size: 17px;
  line-height: 58px;
  color: #9a9a9a;
}

.picture-1 {
  position: absolute;
  top: 19px;
  right: 7px;
}

.main-center {
  margin: 0 18px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
}

.word-2 {
  font-size: 19px;
  padding: 13px 0;
  color: #fbb435;
  border-bottom: 1px solid #fbb435;
}

.one, .two {
  margin: 15px 27px;
  background-color: #29bde0;
}

a {
  height: 68px;
  line-height: 68px;
  text-decoration: none;
}

.word-3 {
  font-size: 16px;
  color: white;
}

.word-4 {
  font-size: 12px;
  color: #787878;
}

.two {
  position: relative;
}

.picture-2 {
  position: absolute;
  top: 24px;
  right: -22px;
}

.circle-1, .circle-2 {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #29bde0;
}

.circle-2 {
  background-color: #e7e7e7;
}
