@charset "UTF-8";
body {
  min-height: 370px;
  margin: 0;
}

p {
  margin: 0;
}

/*变量*/
/*雪碧图*/
span {
  background: url(../two/picture-2/image.png);
  height: 30px;
  width: 30px;
}

.icon-1 {
  position: absolute;
  top: 7px;
  right: 15px;
  background-position: -13px -301px;
}

.icon-2 {
  width: auto;
  position: absolute;
  left: 70px;
  background-position: -13px -176px;
}

.icon-3 {
  position: absolute;
  top: 3px;
  background-position: -14px -114px;
  margin-left: 9px;
}

.icon-4 {
  width: auto;
  position: absolute;
  right: 70px;
  background-position: -13px -238px;
}

.icon-5 {
  position: absolute;
  background-position: -13px -16px;
}

.icon-6 {
  position: absolute;
  background-position: -13px -69px;
}

/*头部*/
header {
  position: fixed;
  top: 0;
  height: 44px;
  width: 100%;
  background-color: #5fc0cd;
  text-align: center;
  z-index: 10;
}

button {
  border: transparent;
}

a {
  color: #5fc0cd;
  text-decoration: none;
}

.word, .word-1, .word-2 {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 75px;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 5px;
}

.word-1 {
  color: white;
  background-color: #55a8b3;
}

.word-2 {
  color: #5fc0cd;
  background-color: white;
  margin-left: -10px;
}

/*中间*/
main {
  margin-top: 46px;
}

.main-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e1e5e7;
}

select {
  width: 33.3%;
  border: transparent;
  background-color: transparent;
  outline: none;
  color: #999999;
  text-align: center;
  padding: 3px 10px;
}

.center {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: linear-gradient(white, #999999, white) 1;
}

.one-father {
  padding: 15px;
  border-bottom: 1px solid #e1e5e7;
}

.word-5 {
  font-size: 14px;
  color: #999999;
  margin-left: 30px;
}

.word-6 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  display: inline-block;
}

.word-7 {
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #e63b0e;
  margin-right: 36px;
}

.word-8 {
  font-size: 13px;
  color: #999999;
  margin-left: 30px;
}

.picture {
  float: right;
  margin-left: -11px;
  margin-top: 2px;
}

.one {
  margin: 6px 0;
}

.white {
  height: 47px;
  width: 100%;
}

/*底部*/
footer {
  position: fixed;
  bottom: 0;
  height: 47px;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.word-3, .word-4 {
  font-size: 10px;
  color: #5fc0cd;
  margin-top: 29px;
  margin-left: 6px;
}

.circle {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #5fc0cd;
}

.word-4 {
  color: #999999;
}
