// 变量
$blue-1: rgb(41, 189, 224);
$blue-2: rgb(36, 167, 198);
$orange: rgb(255, 200, 101);
$orange-1: rgb(251, 180, 53);
$red: rgb(246, 111, 111);
$white: rgb(255, 255, 255);
$grey-1: rgb(245, 245, 245);
$grey-2: rgb(199, 199, 199);
$grey-3: rgb(166, 166, 166);
$back: rgb(81, 81, 81);
body {
    margin: 0;
    min-width: 370px;
    background-color: $grey-1;
}
p,
h2,
h3,
h4,
h6 {
    margin: 0;
}

// 头部
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    line-height: 44px;
    width: 100%;
    font-size: 17px;
    color: $white;
    text-align: center;
    background-color: $blue-1;
    border-bottom: 1px solid rgba($white, $alpha: 0.5);
    z-index: 99;
}

.img1 {
    margin-left: 10px;
}
.img2 {
    margin-right: 10px;
}

// 中间
main {
    padding: 0 40px;
    background-color: $blue-1;
}
.top {
    text-align: center;
}
.img3 {
    position: relative;
    margin-top: 79px;
}

.img4 {
    position: absolute;
    top: 97px;
    margin-left: -109px;
}

h2 {
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;
    font-size: 24px;
    color: $white;
}

h3 {
    color: $orange;
    margin: 11px 0 31px;
    text-align-last: left;
}

h4 {
    font-weight: 500;
}
.center {
    font-size: 13px;
    line-height: 21px;
    color: $white;
    padding-bottom: 13px;
}

.bottom {
    background-color: $grey-1;
}

.bottom-t {
    padding: 7px 40px 17px;
    border-bottom: 1px solid $grey-2;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.box-l {
    font-size: 15px;
    color: rgb(81, 81, 81);
}
.box-r {
    font-size: 10px;
    color: $grey-2;
}

h6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: $grey-3;
}

.white {
    height: 65px;
}
// 底部
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgba($blue-1, $alpha: 0.5);
}

#btnle,
#btnrig {
    font-size: 20px;
    color: $white;
    width: 136px;
    height: 43px;
    border-radius: 5px;
    border: none;
}

#btnle {
    background-color: $red;
}
#btnrig {
    background-color: $orange-1;
}
