body,
html {
    margin: 0;
    min-width: 370px;
    width: 100%;
}

p {
    margin: 0;
}


/* 媒体查询 */
@media screen and (min-width: 600px) {
    nav {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .box {
        display: none !important;
    }
}

@media screen and (min-width: 700px) {

    .foot-2 {
        height: 25px;
        line-height: 25px;
        background-color: rgb(29, 122, 217);
        font-size: 7px;
        color: white;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {

    .foot-2 {
        height: 56px;
        background-color: rgb(29, 122, 217);
        font-size: 7px;
        color: white;
        text-align: center;
    }
}

@media screen and (min-width: 100px) {
    label {
        font-size: 15px;
        color: rgb(102, 102, 102);
    }

    input {
        margin-left: 30px;
        margin-right: 10px;
    }

    .two {
        float: right;
        font-size: 15px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);

    }

    .three {
        float: right;
        font-size: 15px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);
    }

    .five {
        float: right;
        font-size: 15px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);

    }

    .right-1 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-top: 4px;
        margin-right: -90px;
    }

    .right-2 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-right: -90px;
        margin-top: 4px;
    }

    .right-3 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-top: 4px;
        margin-right: -90px;
    }

    .one {
        display: inline-block;
        margin-top: 10px;
    }

    .word-14 {
        display: inline-block;
        color: rgb(153, 153, 153);
        margin-left: 50px;
    }


}

@media screen and (max-width: 1000px) {
    label {
        font-size: 15px;
        color: rgb(153, 153, 153);
        display: block;
    }

    input {
        float: left;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 4px;

    }

    .two {
        float: right;
        font-size: 15px;
        margin-top: -61px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);

    }

    .three {
        float: right;
        font-size: 15px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);
    }

    .five {
        float: right;
        font-size: 15px;
        margin-top: -98px;
        margin-right: 20px;
        padding: 5px;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(153, 153, 153);

    }

    .right-1 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-top: -57px;
        margin-right: 25px;
    }

    .right-2 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-right: -90px;
        margin-top: 4px;
    }

    .right-3 {
        float: right;
        width: 15px;
        height: 26px;
        background-color: rgb(29, 122, 217);
        margin-top: -94px;
        margin-right: 25px;
    }

    .one {
        display: block;
        margin-top: 10px;
    }

    .word-14 {
        float: left;
        color: rgb(153, 153, 153);
        margin-left: 50px;
    }

}


/*鼠标悬浮控制元素隐藏与显示 - css中鼠标的hover状态*/
.box:hover .left {
    background-color: rgb(29, 122, 217);
    border: 1px solid rgb(29, 122, 217);
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 10px 15px;
}

.first:hover .word-5 {
    color: rgb(29, 122, 217);

}

/* 头部 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(29, 122, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.word-1 {
    font-size: 7px;
    color: white;
    display: inline-block;
    margin-left: 50px;
}

.word-2 {
    font-size: 7px;
    color: white;
    display: inline-block;
    padding: 7px;
    background-color: transparent;
    border: transparent;
    border-left: 1px solid white;
}

.word-3 {
    font-size: 7px;
    display: inline-block;
    padding: 7px;
    background-color: white;
    border: transparent;

}

.head-r {
    margin-right: 50px;
}

main {
    margin-top: 30px;
}

.box-father {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: rgb(249, 249, 249);

}

.box {
    display: inline-block;
    margin-left: 45px;
}

.left {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 10px;
    padding: 10px 15px;
}

.bg-light {
    background-color: #f8f9fa !important;
    position: absolute;
    top: 30px;
    right: 0;
}

nav {
    width: 100%;
    text-align: center;
}

.nav-link {
    font-size: 8px;
}


.both {
    margin-right: 50px;
}

.main-center {
    float: right;
    margin-top: 46px;
}

.rectangle {
    width: 77px;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(255, 127, 2);
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 127, 2);
    text-align: center;
    line-height: 15px;
    margin-left: 33px;
    margin-top: -10px;
}


.word-8 {
    font-size: 10px;
    color: white;
}

.word-9 {
    font-size: 10px;
    color: rgb(255, 127, 2);
    margin-top: 20px;
    text-align: center;
}


.rectangle-1 {
    width: 77px;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
}

.circle-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
    text-align: center;
    line-height: 15px;
    margin-left: 33px;
    margin-top: -10px;
}


.word-11 {
    font-size: 10px;
    color: rgb(204, 204, 204);
    margin-top: 20px;
    text-align: center;
}


.main-bottom {
    margin-top: 125px;
}


.left-1 {
    width: 4px;
    height: 16px;
    background-color: rgb(29, 122, 217);
    border: 1px solid rgb(29, 122, 217);
    border-radius: 20px;
    display: inline-block;
}

.word-12 {
    font-weight: bold;
    padding-left: 4px;
    margin: 10px 0;
    display: inline-block;
}

.both1 {
    background-color: rgb(249, 249, 249);
    padding: 10px 17px;
}

.picture-1 {
    display: inline-block;
    margin-top: -3.5px;
}

.word-13 {
    font-size: 15px;
    font-weight: bold;
    color: rgb(29, 122, 217);
    display: inline-block;
    margin-left: 21px;
    margin-top: -63px;
}

.both2 {
    padding: 20px 0;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    margin-top: 11px;
    margin-left: 2px;
}

.center {
    border: 1px solid rgb(153, 153, 153);
}

.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12 {
    padding: 0;
}

.row {
    margin: 5px;
}

.word-15 {
    display: inline-block;
    color: rgb(153, 153, 153);

}

.frame {
    margin: 0 10px;
    text-align: center;
}

.both3 {
    padding: 50px 0;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.four {
    text-align: center;
    padding: 90px 0;
}

.red {
    background-color: rgb(225, 80, 83);
    border: 1px solid rgb(225, 80, 83);
    border-radius: 5px;
}

.word-16 {
    color: white;
    font-weight: bold;
    padding: 5px 40px;
}

.white {
    height: 277px;
    width: 100%;
}

/* 底部 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(249, 249, 249);

}

.bottom {
    color: rgb(153, 153, 153);
    font-size: 10px;
    margin: 20px 0;
}

.word-4 {
    font-size: 13px;
    line-height: 30px;
}

.word-5 {
    display: inline-block;
    margin-right: 24px;
    line-height: 30px;
}

.word-6 {
    color: rgb(29, 122, 217);
    display: inline-block;
    margin-right: 24px;
}

.word-7 {
    line-height: 30px;
}

.bottom-left {
    display: inline-block;
}

.bottom-right {
    position: absolute;
    top: 4px;
    right: 79px;
    display: inline-block;
}

.first {
    display: inline-block;
}