/* hover效果 */
.button:hover button {
    color: #ffffff;
    background-color: #ffa500;
}
body {
    min-width: 320px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
.grid-father {
    width: 398px;
    height: 398px;
    border-radius: 20px;
    border: 1px solid #b9b9b9;
}
.grid {
    float: left;
    width: 30%;
    height: 30%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    border-radius: 10px;
    background-color: #ffa500;
}
button {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 13px 0;
    margin-top: 2.5%;
    color: #ffa500;
    border: 1px solid #ffa500;
    background-color: #ffffff;
}




 







