// 变量
$blue: rgb(41, 189, 224);
$blue-1: rgb(105, 209, 233);
$white: rgb(255, 255, 255);
$orange: rgb(251, 180, 53);
$grey: rgb(120, 120, 120);
$grey-1: rgb(201, 201, 201);
$grey-2: rgb(245, 245, 245);

body {
    margin: 0;
    min-width: 370px;
    background-color: $grey-2;
}
p {
    margin: 0;
}

// 雪碧图
span {
    background: url(../home/picture/picture.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.icon-1 {
    background-position: 2px 2px;
}
.icon-2 {
    background-position: 2px 28px;
}

.icon-3 {
    background-position: -73px 52px;
}

.icon-4 {
    background-position: -99px 1px;
}
.icon-5 {
    background-position: -99px 51px;
}

/* 侧边栏 */
#sidemenu {
    display: none;
}

#sidemenu:checked + aside {
    left: 0;
}

#sidemenu:checked ~ #wrap {
    padding-left: 220px;
}

ul {
    padding: 0;
    margin: 0;
}

aside {
    position: absolute;
    top: 44px;
    left: -310px;
    width: 230px;
    height: calc(99% - 45px);
    z-index: 99;
    background-color: white;
    transition: 0.5s ease-out;
    box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
}

#warp {
    transition: 0.5s ease-out;
}

label {
    background-color: rgb(41, 189, 224);
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.right {
    display: flex;
    justify-content: space-between;
}

#sideul li {
    list-style: none;
    line-height: 28px;
    color: rgb(41, 189, 224);
    font-size: 13px;
    padding: 5px 10px;
    border-bottom: 1px solid #e7e7e7;
}

a {
    text-decoration: none;
}

// 头部
header {
    position: fixed;
    top: 0;
    height: 44px;
    width: 100%;
    background-color: $blue;
    z-index: 99;
}
.head {
    margin: 18px 11px;
    div {
        height: 2px;
        width: 17px;
        background-color: $white;
        margin-top: 4px;
    }
}

// 中间
main {
    width: 302px;
    margin: 0 auto;
    text-align: center;
}
.main-top {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 58px;
    font-size: 17px;
    color: $grey;
    background-color: $white;
    border: 1px solid $grey-1;
    margin-top: 58px;
}
.main-bottom {
    position: relative;
    margin-top: 13px;
    border: 1px solid $grey-1;
    background-color: $white;
}
.word-1 {
    font-size: 19px;
    color: $orange;
    border-bottom: 1px solid $orange;
    padding: 11px 0;
}
.arrows {
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    color: rgb(231, 231, 231);
}
.box {
    height: 68px;
    line-height: 68px;
    background-color: $blue-1;
    margin: 15px 25px;
    font-size: 16px;
    color: $white;
}
button {
    background-color: transparent;
    border: 0;
}
#box {
    font-size: 16px;
    color: $white;
}
.word-2 {
    font-size: 12px;
    color: $grey;
}

.circle-r {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $grey-1;
    display: inline-block;
}
.circle-l {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $blue;
    display: inline-block;
}
.triangle-r {
    position: absolute;
    top: 200px;
    right: -7px;
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent transparent rgb(251, 180, 53);
    border-style: solid;
    border-width: 12px;
}

.triangle-l {
    position: absolute;
    top: 200px;
    left: -7px;
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color: transparent rgb(251, 180, 53) transparent transparent;
    border-style: solid;
    border-width: 12px;
}
