*,
::after,
::before {
    box-sizing: border-box;
}

// 变量
$color: rgb(249, 249, 249);
$green: rgb(41, 176, 120);
$grey: rgb(153, 153, 153);
$grey-1: rgb(230, 230, 230);
$both: rgb(250, 250, 250);
$white: white;
$orange: rgb(255, 101, 14);
$black: rgb(51, 51, 51);
$red: red;

// 媒体查询
@media screen and (max-width: 700px) {
    .head-bottom1 {
        display: none !important;
    }
}
@media screen and (min-width: 700px) {
    .head-bottom2 {
        display: none;
    }
}

// hover 效果
.word:hover .word-3 {
    border-bottom: 3px solid $white;
}
.bottom:hover .letter-2 {
    border-bottom: 1px solid $white;
}
.bottom:hover .letter-5 {
    border-bottom: 1px solid $white;
}

// 重置
body {
    min-width: 370px;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: $both;
}
p {
    margin: 0;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}


// 头部
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.head-top {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $both;
}
.word-1 {
    font-size: 12px;
    color: $green;
    margin-left: 50px;
}
.circle {
    margin-right: 50px;
}
.circle-1 {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid $green;
    margin-left: 5px;
}

.head-bottom1 {
    display: flex;
    justify-content: space-between;
    background-color: $green;
    padding-right: 30px;
}
.picture-1 {
    margin-left: 50px;
    margin-top: 12px;
}

.word {
    display: inline-block;
}

.word-3 {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 20px;
    border-bottom: 3px solid rgba($white, 0);
}

// 底部
footer {
    bottom: 0;
    width: 100%;
    background-color: $green;
    color: $white;
    padding-top: 25px;
}

.foot {
    margin: 0 57px;
}

.letter-1 {
    margin-bottom: 45px;
}

.bottom {
    display: inline-block;
}
.letter-2 {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($white, 0);
}
.letter-5 {
    @extend .letter-2;
    margin-left: 15px;
}

.letter-3 {
    margin-bottom: 5px;
}
.letter-4 {
    padding: 10px 0;
    border-top: 1px solid rgba($white, 0.5);
    text-align: center;
}
// 导航栏
.nav-media {
    position: relative;
    z-index: 3;
    height: 60px;
    background-color: #1db176;
}
.nav-media:before {
    content: "";
    display: block;
    width: 120px;
    height: 100px;
    background: url(../task14/picture-1/logo.png) no-repeat center;
    position: absolute;
    left: 7%;
    top: -33%;
}

#bridge:checked ~ .nav-media label div {
    transition: margin 400ms ease;
    margin: 6px 0;
}

.nav-media label div {
    margin: 4px 0;
    height: 3px;
    width: 100%;
    background: white;
    transition: margin 200ms ease;
}
.nav-media label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 1.5rem;
    cursor: pointer;
}

.nav-media--menu {
    font-size: 0;
    text-align: center;
    margin-top: -0.5rem;
    height: 0;
    background: #1db176;
    transition: all 400ms ease;
}
.nav-media--menu button {
    width: 100%;
    background-color: #1db176;
    height: 0;
    font-size: 0;
    color: white;
    transition: border 200ms ease-in, height 500ms ease-out, font-size 450ms ease-out;
}
button {
    border: 0 none;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}
.placeholder {
    width: 100%;
    height: 0.5rem;
    transition: all 300ms ease;
}

#bridge:checked ~ .placeholder {
    height: 0;
}
#bridge:checked ~ .nav-media--menu button {
    z-index: 1;
    transition: border 470ms ease, height 600ms ease-out;
    border-bottom: 2px solid #1db176;
    height: 3rem;
    font-size: 0.16rem;
}

// 轮播图
.viewport {
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 300vw;
    overflow: hidden;
    animation: carousel linear 5s infinite 0s normal;
}
.wrap img {
    float: left;
    width: 100vw;
    height: auto;
    margin-top: 73px;
}
@keyframes carousel {
    0% {
        left: 0;
    }
    20% {
        left: -0vw;
    }
    40% {
        left: -100vw;
    }
    60% {
        left: -100vw;
    }
    80% {
        left: -200vw;
    }
    100% {
        left: -200vw;
    }
}

// 栅格布局
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-1-2,
    .col-md-1-5,
    .col-lg-1-10,
    .col-xl-1-10 {
        width: 10%;
        text-align: center;
    }
}
@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
