@import "both.scss";

// hover效果
.content:hover .circle-2 {
    background-color: $orange;
}
.content:hover .word-7 {
    color: $orange;
}
// 雪碧图
span {
    background: url(../task14/picture-3/image-1.png);
    width: 30px;
    height: 30px;
}
.icon-1 {
    position: absolute;
    background-position: -19px -180px;
}
.icon-2 {
    position: absolute;
    background-position: -19px -72px;
}
.icon-3 {
    position: absolute;
    background-position: -19px -126px;
}

// 中间

main {
    margin-top: 90px;
}
.image {
    width: 100%;
}

.main-top {
    padding: 20px 0;
}
.word-4 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.word-5 {
    @extend .word-4;
    color: $green;
}

.main-left {
    background-color: $white;
    border: 1px solid $grey-1;
    text-align: center;
    padding-bottom: 20px;
}

.word-6 {
    width: 100%;
    @extend .word-4;
    padding: 10px;
    border-bottom: 1px solid $grey-1;
}

.circle-2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $orange;
}

.word-7 {
    width: 24%;
    display: inline-block;
    color: $green;
    font-weight: bold;
    padding-top: 20px;
}
.main-right {
    background-color: $white;
    border: 1px solid $grey-1;
}
.picture-2 {
    float: left;
    margin: 15px 27px;

}
.word-8 {
    color: $grey;
    line-height: 23px;
    padding: 20px 50px;
}

.right {
    border-bottom: 1px solid $grey-1;
}

.word-9 {
    color: $grey;
    text-indent: 2em;
    margin-top: 20px;
    padding: 0 50px;
    line-height: 23px;
}

.word-10 {
    @extend .word-9 ;
    padding-bottom: 20px;
}

.white {
    height: 50px;
    width: 100%;
}


