@import "both.scss";

// 媒体查询

@media screen and (max-width: 1200px) {
    .picture-2,
    .picture-3 {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .two {
        margin-top: 100px;
        padding: 0 113px;
    }

    .word-9 {
        display: inline-block;
        color: #999999;
        margin: 11px 20px;
    }
}

@media screen and (min-width: 768px) {
    .two {
        margin-top: 114px;
        margin-left: 50px;
        padding: 0 32px;
        border-left: 1px dotted #999999;
    }

    .word-9 {
        display: inline-block;
        width: 50%;
        color: #999999;
        margin: 0 20px;
    }
}

// hover效果
.firm:hover .picture {
    box-shadow: $grey 2px 2px 10px;
}
.firm:hover .picture-5 {
    box-shadow: $grey 2px 2px 10px;
}
.firm:hover .picture-6 {
    box-shadow: $grey 2px 2px 10px;
}

.box-father:hover .box {
    border-bottom: 1px solid $green;
}

// 雪碧图
span {
    background: url(../task14/picture-1/image-1.png);
    width: 30px;
    height: 30px;
}
.icon-1 {
    position: absolute;
    background-position: -19px -180px;
}
.icon-2 {
    position: absolute;
    background-position: -19px -72px;
}
.icon-3 {
    position: absolute;
    background-position: -19px -126px;
}
.icon-4 {
    float: left;
    background-position: -18px -295px;
}



// 中间

.one {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.word-4 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 18px 0;
}

.word-5 {
    color: $grey;
}

.word-6 {
    color: $green;
    font-weight: bold;
}

.word-7 {
    @extend .word-5;
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 22px;
}

.title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
}

.circle-2 {
    float: left;
    width: 45px;
    height: 45px;
    line-height: 45px;
    box-shadow: $grey 1px 1px 1px 1px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    margin-top: 40px;
}

.word-8 {
    font-size: 16px;
    font-weight: bold;
    color: $green;
}

.study {
    margin-top: 48px;
}

.study-1 {
    margin-top: 57px;
}

.picture-3 {
    float: left;
    margin-top: -21px;
    margin-left: 172px;
}

.people {
    background-color: $white;
    box-shadow: $grey 2px 2px 10px;
    padding: 20px 25px 33px;
    margin-top: 40px;
}

.picture-4 {
    text-align: center;
}
.word-10 {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}
.word-11 {
    color: $grey;
}

.firm {
    width: 192px;
    height: 119px;
    background-color: $white;
    margin-top: 40px;
}

.picture-5 {
    padding-left: 17px;
    padding-top: 10px;
}
.link {
    margin-top: 40px;
}
.picture-6 {
    padding-top: 8px;
}

li {
    color: $grey;
    margin: 5px 23px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($green, 0);
}
.white {
    height: 50px;
    width: 100%;
}






