body {
    margin: 0;
    min-width: 370px;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(95, 192, 205);
    z-index: 99;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.employer {
    background-color: rgb(85, 168, 179);
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(85, 168, 179);
    padding: 4px 10px;
    font-size: 17px;
    margin-right: -8px;
}

.Nursing {
    background-color: white;
    border-radius: 5px;
    color: rgb(85, 168, 179);
    border: 1px solid white;
    padding: 4px 10px;
    font-size: 17px;
}

span {
    background-image: url(../task6/image1.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.icon1 {
    float: right;
    margin-right: 10px;
    background-position: -15px -340px;
}

.top {
    position: absolute;
    right: 4px;
}

.box {
    margin-top: 44px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(153, 153, 153);
    height: 40px;
    width: 100%;
    background-color:white;
}

select {
    border: 0;
    color: rgb(153, 153, 153);
    outline: none;
    width: 33.3%;
    text-align: center;
}

option{
    display: flex;
    justify-content: center;
}

.box2 {
    border-left: 1px solid rgb(153, 153, 153);
    border-right: 1px solid rgb(153, 153, 153);
    margin: 10px 0;
}

.menu {
    position: relative;
    height: 100px;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.menu-top {
    padding-left: 10px;
    font-size: 12px;
    color: rgb(153, 153, 153);
}

.icon5 {
    display: inline-block;
    background-position: -15px -46px;
}

.time {
    margin: 10px;
    padding-left: 33px;
    font-size: 14px;
    font-weight: 600;
    float: left;
    /*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 130px;
    */

}

.center {
    float: right;
}

.price {
    color: red;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
}

.triangle {
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    color: #5FC0CD;
    float: right;
    margin-top: -26px;
    margin-right: 10px;
}

.menu-bottom {
    display: block;
    color: rgb(153, 153, 153);
    font-size: 13px;
    position: absolute;
    left: 10px;
    top: 54px;
}

.icon6 {
    display: inline-block;
    background-position: -15px -98px;
}

.white {
    height: 47px;
    width: 100%;
}

footer {
    height: 47px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 250, 253);
}

.both1 {
    margin-left: 20px;
}

.icon2 {
    background-position: -15px -284px;
    margin-left: -4px;
    display: block;
}

p {
    margin: 0;
}

.left {
    color: rgb(95, 192, 205);
    font-size: 13px;
}

.circle {
    width: 47px;
    height: 47px;
    background-color: rgb(95, 192, 205);
    border-radius: 50%;
}

.icon3 {
    background-position: -15px -158px;
    margin-left: 10px;
    display: block;
}

.both3 {
    margin-right: 20px;
}

.icon4 {
    background-position: -15px -225px;
    display: block;
}

.right {
    color: rgb(153, 153, 153);
    font-size: 13px;
}
